.example-spacer {
  flex: 1 1 auto;
}
.main-div mat-card{
  padding-top: 0 px;
  } 
.login-form{
  padding: 20px;
}
.body {
  margin-top: 30px ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .max-width{
      width:100%;
      padding-left:18px ;
  }
  .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    
    td {
      padding-right: 8px;
    }
    .field-full-width{
      width: 100%;
    }
    .field-full-width1{
      width: 100%;
      
    }