
<div class="  container md-12 ">
    <div class=" container1 ">
        <div class="drop-box card ">
        <div class="mt-3"><h1 > CHANGE PASSWORD</h1></div>  
        <hr>
        <div clas="card-body ">
            <form action="" class="form1"   [formGroup]="reactiveForm" (ngSubmit)="onSubmit()"     > 
                    <div class="row form-group">
                        <div class="form col-md-3">
                         <h4>Old password :</h4>
                        </div>
                        <div class="col-md-6">
                        <input [type]="changetype?'password':'text'" type="password" class="pass form-control" name="password" formControlName="password">
                        <span class="eyeicon" (click)="veiwOldPass()"> <i class="eye" [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'" ></i> </span>

                        <div *ngIf="reactiveForm.get('password').hasError('required') && reactiveForm.get('password').touched" class="alert alert-danger">
                            Old password field is required.
                          </div>
                          
                        </div>
                    </div> 
                    <br>
                    <div class="row ">
                        <div class=" form col-md-3">
                            <h4>New password :</h4>
                           </div>
                           <div class="col-md-6">
                           <input [type]="changetype1?'password':'text'" type="password" class="pass form-control" name="newPassword" formControlName="newPassword">
                           <span class="eyeicon" (click)="veiwNewPass()"> <i class="eye" [ngClass]="visible1?'fa fa-eye':'fa fa-eye-slash'" ></i> </span>
                           <div *ngIf="reactiveForm.get('newPassword').hasError('required') && reactiveForm.get('newPassword').touched" class="alert alert-danger">
                            password is required.
                          </div>
                          <div *ngIf="reactiveForm.get('newPassword').hasError('pattern') && reactiveForm.get('newPassword').touched" class="alert alert-danger">
                            Password must be at least 8 characters long and include at least one uppercase letter, one Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character. lowercase letter, one number, and one special character.
                          </div>
                           </div>
                    </div>
                        <br>
                        <div class="row">   
                           <div class="form col-md-3">
                            <h4>Confirm password :</h4>
                           </div>
                           <div class="col-md-6">
                           <input [type]="changetype2?'password':'text'" type="password" class="pass form-control" name="confirmPassword" formControlName="confirmPassword">
                           <span class="eyeicon" (click)="veiwConPass()"> <i class="eye" [ngClass]="visible2?'fa fa-eye':'fa fa-eye-slash'" ></i> </span>
                           <div *ngIf="reactiveForm.get('confirmPassword').hasError('required') && reactiveForm.get('confirmPassword').touched" class="alert alert-danger">
                           Confirm password field is required.
                         </div>
                         
                        </div>
                        </div>
                
                           
                <div class="row pt-5 ">   
                        <div class="form  col-md-1">
                         <button class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-md-1 pb-3">
                            <button class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
    
                </form>
              
            </div>
        </div>
    </div>
    
</div>



