.card{
    margin:auto;
    width: 100%;
}
.form1{
    padding-left: 200px;
}
h1{
    text-align: center;
}
.container{
    padding-top: 90px;
}
.pass.ng-invalid.ng-touched{
    border: red 1px solid;
}