<!-- <mat-toolbar color="primary">
    <div class="container">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>question_answer</mat-icon>
    </button>
    <span> ADD ROLES </span>
  </div>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" >Logout </button>
  </mat-toolbar> -->
  <body >
    <div><link rel="stylesheet" href=""></div>
  
  <div fxLayoutAlign="center center" fxFlexFill class="main-div" style="margin-bottom: 50%;">
      <mat-card fxFlex="50">
        <mat-toolbar color="primary"  fxLayoutAlign="center center" >ADD Status</mat-toolbar>
          <form fxLayoutAlign="stretch" fxLayout="column" class="enquiry-form" [formGroup]="addstatus" (ngSubmit)="addstatusSubmit()">
              <mat-form-field appearance="outline" style="margin-top: 5px;">
                <mat-label formControlName="id">STATUS ID</mat-label>
                <input matInput type="Roles Id" placeholder="STATUS Id" required>
                
              </mat-form-field>
            
              <mat-form-field appearance="outline">
                <mat-label>STATUS Name</mat-label>
                <input matInput type= "status Name" placeholder="STATUS Name" required formControlName="Name">
                <mat-error *ngIf="addstatus.get('Name').hasError('required')">
                  <b>Required</b>
                </mat-error>

                  <mat-error *ngIf="addstatus.get('Name').hasError('pattern')">
                    <b>Name Should Contain Only Alphanumeric</b>
                </mat-error>

              

              </mat-form-field>
  
              <mat-form-field  appearance="outline">
                <mat-label>status Description</mat-label>
                <input matInput type= "status description" placeholder="status Description" formControlName="Description">
              </mat-form-field>
              <div mat-dialog-action [align]="'center'">
                <button mat-raised-button color="warn" routerLink="/master/statuslist/" type="button" >Close</button>
                <button type="submit "style="margin-left: 10px;" mat-raised-button color="primary">Save</button>
              </div>
            </form>
          
             
            
      </mat-card>
       
              </div>
            
            
  </body>