<!-- <mat-toolbar color="primary">
    <div class="container">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>question_answer</mat-icon>
    </button>
    <span> ADD ROLES </span>
  </div>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" >Logout </button>
  </mat-toolbar> -->
  <body >
    <div><link rel="stylesheet" href=""></div>
  
  <div fxLayoutAlign="center center" fxFlexFill class="main-div" style="margin-bottom: 50%;">
      <mat-card fxFlex="50">
        <mat-toolbar color="primary"  fxLayoutAlign="center center" >ADD DESIGNATION </mat-toolbar>
          <form fxLayoutAlign="stretch" fxLayout="column" class="enquiry-form" [formGroup]="adddesignation" (ngSubmit)="adddesignationSubmit()">
              <mat-form-field appearance="outline" style="margin-top: 5px;">
                <mat-label formControlName="id">DESIGNATION  ID</mat-label>
                <input matInput type="Roles Id" placeholder="Roles Id" required>
                
              </mat-form-field>
            
              <mat-form-field appearance="outline">
                <mat-label>DESIGNATION  Name</mat-label>
                <input matInput type= "Roles Name" placeholder="Roles Name" required formControlName="Name">
                <mat-error *ngIf="adddesignation.get('Name').hasError('required')">
                  <b>Required</b>
                </mat-error>

                  <mat-error *ngIf="adddesignation.get('Name').hasError('pattern')">
                    <b>Name Should Contain Only Alphanumeric</b>
                </mat-error>

              

              </mat-form-field>
  
              <mat-form-field  appearance="outline">
                <mat-label>DESIGNATION Description</mat-label>
                <input matInput type= "designation description" placeholder="DESIGNATION Description" formControlName="Description">
              </mat-form-field>
              <div mat-dialog-action [align]="'center'">
                <button mat-raised-button color="warn" routerLink="/master/designationlists" type="button" >Close</button>
                <button type="submit "style="margin-left: 10px;" mat-raised-button color="primary">Save</button>
              </div>
            </form>
          
             
            
      </mat-card>
       
              </div>
            
            
  </body>