.example-full-width{
    width: 50%;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
    
  }
.width{
    width: 48%;
}
.btn{
  margin-left: 90%;
}

//   mat-checkbox{
    
        
//         background-color: #005691!important;
      
//   }