.example-spacer {
    flex: 1 1 auto;
    justify-content: center;
  
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .container{
  width:90%;
  margin:0 auto;
  }
  button{
    width: max-content;
  }
  .sort{
    width:100%;
    border-radius: 10px;
    justify-content: center;
  }
  .bttn{
    margin-left: 80%;
  align-items: center;
  }