.example-spacer {
  flex: 1 1 auto;
}
.container{
  width: 100%;
}

.set{
  margin: auto;
  width:92%;
  // margin-top: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .mat-elevation-z8{
//   width: 100%;
//   max-width: 70rem;
//   margin-left:auto;
//   margin-right:auto;
//   margin-top: 10px;
// }
table{
  width: 100%;
}
// .bttn{
//   position: absolute;
//   left:85%;
// }
.spacer{
  margin-left: 85%;
   text-align: center;
   width: max-content;
  
}
.sort{

  width:100%;
    border-radius: 50px;
    justify-content: center;
}
// .set{
//   margin-top: 5%;
// }
h1{
  text-align: center;
}