
<body >
    <div><link rel="stylesheet" href=""></div>
  
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      <mat-card fxFlex="50">
        <mat-toolbar color="primary"  fxLayoutAlign="center center">ENQUIRY TYPE</mat-toolbar>
        
          <form fxLayoutAlign="stretch" fxLayout="column" class="enquiry-form" [formGroup]="EnquiryForm" (ngSubmit)="enquiryUpdate()">
  
              
            
              <mat-form-field appearance="outline">
                <mat-label>Enquiry Type Name</mat-label>
                <input matInput type= "EnquiryTypeName" placeholder="EnquiryTypeName" formControlName="Name">
                <!-- <mat-hint align="end"></mat-hint> -->
                <mat-error *ngIf="EnquiryForm.get('Name').hasError('required')">
              <b>Required</b>
                </mat-error>
              </mat-form-field>
              
              <mat-form-field  appearance="outline">
                <mat-label>Enquiry Type Description</mat-label>
                <input matInput type= "EnquiryTypeDescription" placeholder="EnquiryTypeDescription" formControlName="Desc">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            
            <div mat-dialog-action [align]="'center'" class="action">
                <button mat-raised-button color="warn" routerLink="/master/enquirylist/" >Close</button>
                <button style="margin-left: 10px;" mat-raised-button color="primary" type="submit">update</button>
              </div>
            </form>
            
            
      </mat-card>
  
              </div> 
  
  </body>
  