.example-spacer {
  flex: 1 1 auto;
  justify-content: center;

}
.container{
width:90%;
margin:0 auto;
}
// .mat-elevation-z8{
// width:100%;
// max-width:  70rem ;
// margin-left: auto;
// margin-right: auto;
// margin-top: 10px;
// }
table{
  width: 100%;
}
.spacer{
 margin-left: 88%;
  align-items: end;
}
.sort{

  width:100%;
    border-radius: 10px;
    justify-content: center;
}
h1{
  text-align: center;
}