.main-div mat-card{
  padding-top: 0 px;
  } 
.login-form{
  padding: 20px;
}
.body {
  margin-top: 30px ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  } 

.marquee div{
  font-size: 4rem;
  padding-left: 10%;
  background-color: black;
  display:inline-block ; 
  }
   .example-spacer {
      flex: 1 1 auto;
    }
   
    .field-full-width{
      width: 100%;
    }
    .field-full-width{
      width: 100%;
    }