.eyeicon{
   
    cursor: pointer;
    }
    .container{
        padding-top:80px;
    }
    .email.ng-invalid.ng-touched{
        border: red 1px solid;
    }
    .pass.ng-invalid.ng-touched{
        border: red 1px solid;
    }