.example-spacer {
    flex: 1 1 auto;
  }
  .back{
    background-color: white;
    
  }
.margin{
    margin-left: 2%;

}
table{
    width: 70%;
}
.container{
    background-color: white;
    height: 100%;
    width: 100%;
}