.card{
    width: 500px;
    margin: auto;
}
.div{
    
    border-width: 2px;
}
.forgot{
    padding-top: 5px;
}
.email.ng-invalid.ng-touched{
    border: red 1px solid;
}
.container{
    padding-top: 150px;
}
h1{
    text-align: center;
}