<div class="container">
    <div class="card drop-box  md-12">
        <h1 class="fw-boLd">FORGOT PASSWORD</h1>
        <div class=" card-body ">
          
           
        
    <form action=""  [formGroup]="reactiveForm" (ngSubmit)="onSubmit()"       >
        <div class="form-group">
    <label for="">Email</label>
    <input type="email" class=" email form-control" name="email" formControlName="email">
    <br>
    <label>we'll send forgot password link on your email</label>
    <div *ngIf="reactiveForm.get('email').hasError('required') && reactiveForm.get('email').touched" class="alert alert-danger">
        Email is required.
      </div>
      <div *ngIf="reactiveForm.get('email').hasError('email') && reactiveForm.get('email').touched" class="alert alert-danger">
        Invalid email format.
      </div>
     </div>
        <br>
        <div class="row " >
    <div class="col-md-3">
        <button class=" btn btn-primary">Submit</button>
    </div>
    <div class="col-md-3">
        <button routerLink="/" class="btn btn-secondary pl-10">cancel</button>
    </div>
    
           
        </div>
    </form>
    </div>
        </div>
</div>

   
