.main-div mat-card{
    padding: 0px;
}
.addsubcategory-form{
    padding: 30px;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.marquee div{
    font-size: 4rem;
    font-family: Poppins;
    padding-left: 10%;
    background-color: black;
    display: inline-block
    
}
.example-spacer {
    flex: 1 1 auto;
    justify-content: center;
  
  }